@model PaginatedList<AdminCourseViewModel>

@{
    string prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    string nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="list-group list-custom">
                <a asp-area="Admin" asp-controller="Panel" asp-action="Users" class="list-group-item list-group-item-action">Users</a>
                <a asp-area="Admin" asp-controller="Panel" asp-action="Approve" class="list-group-item list-group-item-action">Not Approved Courses</a>
                <a asp-area="Admin" asp-controller="Panel" asp-action="Courses" class="list-group-item list-group-item-action">Courses</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header text-center">
                    <h1>Approved Courses</h1>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            @foreach (AdminCourseViewModel course in Model)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2 class="ml-3">
                                            <a class="text-secondary" asp-area="" asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">@course.Name</a>
                                        </h2>
                                    </div>
                                    <div class="col-md-4 offset-2">
                                        <h2>
                                            <a class="text-secondary" asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@course.AuthorId">@course.AuthorName</a>

                                        </h2>
                                    </div>

                                </div>
                                <hr class="bg-white"/>
                            }

                            <a asp-action="Courses" asp-route-page="@(Model.PageIndex + -1)" class="btn btn-primary @prevDisabled">Previous</a>
                            <a asp-action="Courses" asp-route-page="@(Model.PageIndex + 1)" class="btn btn-primary @nextDisabled">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>